.mainPageheader {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #333;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 20px;
}

.logo h1 span {
  color: #48a0ff;
}

/* Usuario */
.usuario {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconos-superior span {
  font-size: 20px;
  margin-right: 10px;
}

/* Perfil */
.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2c2c2c;
  padding: 10px 15px;
  border-radius: 20px;
}

.icono-chat{
  transform: scale(0.1);
}

.icono-bell{
   transform: scale(0.1);
}

.icono-user{
   transform: scale(0.6);
}

.logo{
  transform: scale(0.5);
   margin-left: -80px;
}

.iconos-superior{
 transform: scale(0.8)
}
