.mainPage {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
}

.contenedor-general-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  padding: 1rem;
  width: 100%;
}


.logo h1 {
  font-size: 20px;
}

.logo h1 span {
  color: #48a0ff;
}


.iconos-superior span {
  font-size: 20px;
  margin-right: 20px;
}



.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  width: 100%;
}

.card {
  background: linear-gradient(to bottom, #003366, #000000);
  padding: 0px 17px 13px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  cursor: pointer;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-size: 16px;
  color: #00aaff;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.card img {
  width: 2.5rem;
  align-self: center;
}

.icono-user {
  transform: scale(0.4);
}

.iconos-superior {
  transform: scale(0.5);
  gap: 50px;
  margin-right: -80px;
}

.card h2 span {
    display: flex;
    justify-content: space-between; 
    align-items: center; 

}

.card-icon{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%) scale(1.5);
  width: 3rem;
  height: auto;
}

#small-icon{
  width: 4.5rem;
  height: 3rem;
}