body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;

}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: linear-gradient(to bottom, #003366, #000000);
  padding: 20px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-size: 16px;
  color: #00aaff;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

.card img {
  width: 50px;
  align-self: center;
}
