/* Estilos base */
.mainPageAdmin {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
}
.contenedor-general-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80dvh;
  padding: 1rem;
  width: 100%;
}
/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #333;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 20px;
}

.logo h1 span {
  color: #48a0ff;
}

/* Usuario */
.usuario {
  display: flex;
  align-items: center;
  gap: 50px;
}

.iconos-superior span {
  font-size: 20px;
  margin-right: 20px;
}

/* Perfil */
.perfil {
  transform: scale(0.9);
  display: flex;
  align-items: center;
  background-color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 20px;
}

/* Contenedor de tarjetas */
.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

/* Tarjetas */
.card {
  background: linear-gradient(to bottom, #003366, #000000);
  padding: 0px 17px 13px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card h2 {
  font-size: 16px;
  color: #00aaff;
  margin-bottom: 10px;
  margin-top: 1rem;
}

.card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
}

/* Color destacado */
.azul {
  color: #00aaff;
}

.icono-user {
  transform: scale(0.4);
}

.logo {
  transform: scale(0.6);
  margin-left: -70px;
}

.iconos-superior {
  transform: scale(0.5);
  gap: 50px;
  margin-right: -80px;
}

.card-icon{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(1.5);
  width: 2.5rem !important; 
  height: auto;
}

.small-icon{
  width: 4.5rem !important;
}